# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Melodie.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\alexi\RiderProjects\Melodie\.idea\.idea.Melodie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
