/* Global - Header
-------------------------------------------------- */

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    background: #f6f6f6;
}

.header-section {
    display: block;
    flex-grow: 1;
    height: 75px;
    line-height: 75px;
    background: yellow; /* REMOVE */
}

.header-section.right { text-align: right; }
.header-section.left  { text-align: left; }
.header-section.right, .header-section.left { width: 33%; flex-shrink: 0; background: red; /* REMOVE */ }