/* Global - Dark theme
-------------------------------------------------- */
/** Body **/
html.dark-theme { background: #353535; color: #F7F9F9; }

/** Header **/
.dark-theme header                      { background: #2B2B2B; }
.dark-theme header .user-display:hover  { background: #212121; }
.dark-theme header .user-display img    { background: #171717; }

/** Footer **/
.dark-theme footer { background: #171717; }
.dark-theme body.has-music-player footer {
    -webkit-box-shadow: 0 -5px 40px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 -5px 40px 0 rgba(0,0,0,0.25);
    box-shadow: 0 -5px 40px 0 rgba(0,0,0,0.25);
}
.dark-theme #footer-copyright { background: #0D0D0D; }

/** Modals **/
.dark-theme .modal                  { background: rgba(0, 0, 0, 0.5); }
.dark-theme .modal-wrapper          { background: #2B2B2B; }
.dark-theme .modal-header           { background: #262626; }
.dark-theme .modal-body form .error { color: #F95950; }

/** App logo **/
.dark-theme .header-section .app-logo { background: url("../images/melodie_white.png") center no-repeat; }

/** Titles, texts, links **/
.dark-theme h1, .dark-theme h2,
.dark-theme h3, .dark-theme h4,
.dark-theme h5, .dark-theme h6 { color: #F95950; }

.dark-theme .light-text         { color: #BDBFBF; }
.dark-theme .light-text-revert  { color: #6D7070; }

.dark-theme a       { color: #F98350; text-decoration: none; }
.dark-theme a:hover { text-decoration: underline; }

.dark-theme a:visited { color: #C36742; }

.dark-theme a.disable-visited       { color: #F98350 !important; }
.dark-theme a.disable-visited:hover { color: #C36742 !important; }

.dark-theme a.disable-link-color,
.dark-theme a.disable-link-color:visited        { color: #F7F9F9; }

.dark-theme footer a:hover { color: #F98350 !important; }

.dark-theme b { color:#F95950; }

/** Forms and inputs **/
.dark-theme textarea,
.dark-theme input[type=text] { background: #2B2B2B; color: #F7F9F9; }

.dark-theme input::placeholder,
.dark-theme textarea::placeholder { color: #BDBFBF; }

.dark-theme input.bg-on-hover,
.dark-theme textarea.bg-on-hover        { background: transparent; border-color: transparent !important; }
.dark-theme input.bg-on-hover:hover,
.dark-theme textarea.bg-on-hover:hover,
.dark-theme input.bg-on-hover:focus,
.dark-theme textarea.bg-on-hover:focus,
.dark-theme input.bg-on-hover:active,
.dark-theme textarea.bg-on-hover:active { background: #3F3F3F; }

.dark-theme input[type=range]                                   { background: #212121; }

.dark-theme input[type=range]::-moz-range-track                 { background: #212121; }
.dark-theme input[type=range]::-webkit-slider-runnable-track    { background: #212121; }

.dark-theme input[type=range]::-ms-thumb                        { background: #F7F9F9; }
.dark-theme input[type=range]::-moz-range-thumb                 { background: #F7F9F9; }
.dark-theme input[type=range]::-webkit-slider-thumb             { background: #F7F9F9; }

.dark-theme input[type=range]::-ms-fill-lower                   { background: #F95950; }
.dark-theme input[type=range]::-moz-range-progress              { background: #F95950; }

.dark-theme input[type=range]::-ms-fill-upper                   { background: #212121; }

/** Buttons **/
.dark-theme #theme-selector                     { background: #212121; color: #F7F9F9 !important; }
.dark-theme #theme-selector-icon                { background: #171717; }
.dark-theme #theme-selector-icon .theme-icon    { filter: invert(46%) sepia(7%) saturate(111%) hue-rotate(131deg) brightness(91%) contrast(84%); }
.dark-theme #theme-selector-icon #dark-icon     { display: block; }
.dark-theme #theme-selector-icon #light-icon    { display: none; }
.dark-theme #theme-selector #dark-theme-text    { display: block; }
.dark-theme #theme-selector #light-theme-text   { display: none; }

.dark-theme .btn.growing-circle:hover span { color: #353535; } /* Background color */
.dark-theme .btn.slide-effect:hover span   { color: #353535; } /* Background color */

/** Auth container **/
.dark-theme .auth-container {
    background: #2B2B2B;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
}

/** Playlists **/
.dark-theme #add-playlist-btn { color: #F7F9F9; }

.dark-theme .playlist-block:hover { background: #3F3F3F; }

.dark-theme .playlist-logo { background: #2B2B2B; }
.dark-theme .playlist-logo:not(.auto-acronym):after { filter: invert(46%) sepia(7%) saturate(111%) hue-rotate(131deg) brightness(91%) contrast(84%); } /* TODO: Same color as last song logo */

.dark-theme #songs-table thead                      { background: #F95950; }
.dark-theme #songs-table .song-row:hover            { background: #3F3F3F; }
.dark-theme #songs-table .song-row.playing          { background: #2B2B2B; }
.dark-theme #songs-table .song-row.playing:hover    { background: #303030; }

/** Last songs **/
.dark-theme .last-song-logo         { background: #2B2B2B; }
.dark-theme .last-song-logo:after   { filter: invert(46%) sepia(7%) saturate(111%) hue-rotate(131deg) brightness(91%) contrast(84%); }

/** Music player **/
.dark-theme #music-player { background: #2B2B2B; }

.dark-theme #music-player-waveform { background: #262626; }

.dark-theme .slider-icon.clickable-icon,
.dark-theme .music-player-btn:not(#music-player-play-btn) {
    filter: invert(54%) sepia(44%) saturate(4546%) hue-rotate(329deg) brightness(99%) contrast(97%);
}

.dark-theme .slider-icon.clickable-icon:hover,
.dark-theme .music-player-btn:not(#music-player-play-btn):hover {
    filter: invert(22%) sepia(88%) saturate(1433%) hue-rotate(336deg) brightness(119%) contrast(95%);
}

.dark-theme .song-play-btn,
.dark-theme #music-player-play-btn          { background: #F95950; }
.dark-theme .song-play-btn:hover,
.dark-theme #music-player-play-btn:hover    { background: #D93B39; }

/* Global - Light theme
-------------------------------------------------- */

/** Body **/
html.light-theme { background: #F7F9F9; color: #353535; }

/** Header **/
.light-theme header                     { background: #EDEFEF; }
.light-theme header .user-display:hover { background: #E3E5E5; }
.light-theme header .user-display img   { background: #D9DBDB; }

/** Footer **/
.light-theme footer { background: #D9DBDB; }
.light-theme body.has-music-player footer {
    -webkit-box-shadow: 0 -5px 40px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 -5px 40px 0 rgba(0,0,0,0.25);
    box-shadow: 0 -5px 40px 0 rgba(0,0,0,0.25);
}
.light-theme #footer-copyright { background: #CFD1D1; }

/** Modals **/
.light-theme .modal                     { background: rgba(0, 0, 0, 0.5); }
.light-theme .modal-wrapper             { background: #EDEFEF; }
.light-theme .modal-header              { background: #DEE0E0; }
.light-theme .modal-body form .error    { color: #F95950; }

/** App logo **/
.light-theme .header-section .app-logo { background: url("../images/melodie_black.png") center no-repeat; }

/** Titles, texts, links **/
.light-theme h1, .light-theme h2,
.light-theme h3, .light-theme h4,
.light-theme h5, .light-theme h6 { color: #F95950; }

.light-theme .light-text        { color: #6D7070; }
.light-theme .light-text-revert { color: #1D2121; }

.light-theme a          { color: #F98350; text-decoration: none; }
.light-theme a:hover    { text-decoration: underline; }

.light-theme a:visited { color: #C36742; }

.light-theme a.disable-visited       { color: #F98350 !important; }
.light-theme a.disable-visited:hover { color: #C36742 !important; }

.light-theme a.disable-link-color,
.light-theme a.disable-link-color:visited { color: #353535; }

.light-theme footer a:hover { color: #F98350 !important; }

.light-theme b { color:#F95950; }

/** Forms and inputs **/
.light-theme textarea,
.light-theme input[type=text] { background: #EDEFEF; color: #353535; }

.light-theme input::placeholder,
.light-theme textarea::placeholder { color: #6D7070; }

.light-theme input.bg-on-hover,
.light-theme textarea.bg-on-hover           { background: transparent; border-color: transparent !important; }
.light-theme input.bg-on-hover:hover,
.light-theme textarea.bg-on-hover:hover,
.light-theme input.bg-on-hover:focus,
.light-theme textarea.bg-on-hover:focus,
.light-theme input.bg-on-hover:active,
.light-theme textarea.bg-on-hover:active    { background: #E3E5E5; }

.light-theme input[type=range]                                  { background: #E3E5E5; }

.light-theme input[type=range]::-moz-range-track                { background: #E3E5E5; }
.light-theme input[type=range]::-webkit-slider-runnable-track   { background: #E3E5E5; }

.light-theme input[type=range]::-ms-thumb                       { background: #F95950; }
.light-theme input[type=range]::-moz-range-thumb                { background: #F95950; }
.light-theme input[type=range]::-webkit-slider-thumb            { background: #F95950; }

.light-theme input[type=range]::-ms-fill-lower                  { background: #F95950; }
.light-theme input[type=range]::-moz-range-progress             { background: #F95950; }

.light-theme input[type=range]::-ms-fill-upper                  { background: #E3E5E5; }

/** Buttons **/
.light-theme #theme-selector                    { background: #E3E5E5; color: #353535 !important; }
.light-theme #theme-selector-icon               { background: #D9DBDB; }
.light-theme #theme-selector-icon .theme-icon   { filter: invert(46%) sepia(7%) saturate(111%) hue-rotate(131deg) brightness(91%) contrast(84%); }
.light-theme #theme-selector-icon #dark-icon    { display: none; }
.light-theme #theme-selector-icon #light-icon   { display: block; }
.light-theme #theme-selector #dark-theme-text   { display: none; }
.light-theme #theme-selector #light-theme-text  { display: block; }

.light-theme .btn.growing-circle:hover span { color: #F7F9F9; } /* Background color */
.light-theme .btn.slide-effect:hover span   { color: #F7F9F9; } /* Background color */

/** Auth container **/
.light-theme .auth-container {
    background: #EDEFEF;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.25);
}

/** Playlists **/
.light-theme #add-playlist-btn { color: #353535; }

.light-theme .playlist-block:hover { background: #E3E5E5; }

.light-theme .playlist-logo { background: #EDEFEF; }
.light-theme .playlist-logo:not(.auto-acronym):after { filter: invert(46%) sepia(7%) saturate(111%) hue-rotate(131deg) brightness(91%) contrast(84%); }

.light-theme #songs-table thead                      { background: #F95950; color: #F7F9F9; }
.light-theme #songs-table .song-row:hover            { background: #E3E5E5; }
.light-theme #songs-table .song-row.playing          { background: #CFD1D1; }
.light-theme #songs-table .song-row.playing:hover    { background: #D4D6D6; }

/** Last songs **/
.light-theme .last-song-logo        { background: #EDEFEF; }
.light-theme .last-song-logo:after  { filter: invert(46%) sepia(7%) saturate(111%) hue-rotate(131deg) brightness(91%) contrast(84%); }

/** Music player **/
.light-theme #music-player { background: #EDEFEF; }

.light-theme #music-player-waveform { background: #DEE0E0; }

.light-theme .slider-icon.clickable-icon,
.light-theme .music-player-btn:not(#music-player-play-btn) {
    filter: invert(54%) sepia(44%) saturate(4546%) hue-rotate(329deg) brightness(99%) contrast(97%);
}

.light-theme .slider-icon.clickable-icon:hover,
.light-theme .music-player-btn:not(#music-player-play-btn):hover {
    filter: invert(22%) sepia(88%) saturate(1433%) hue-rotate(336deg) brightness(119%) contrast(95%);
}

.light-theme .song-play-btn,
.light-theme #music-player-play-btn         { background: #F95950; }
.light-theme .song-play-btn:hover,
.light-theme #music-player-play-btn:hover   { background: #D93B39; }

/* Global - Titles, texts, links
-------------------------------------------------- */

body.no-scroll { overflow: hidden; }

/* Global - Titles, texts, links
-------------------------------------------------- */

html, a, button, input, textarea     { font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, .field-label { font-family: 'Poppins', Helvetica, Arial, sans-serif; }

/* Global - Header
-------------------------------------------------- */

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 20px;
}

.header-section {
    display: block;
    flex-grow: 1;
    height: 75px;
    line-height: 75px;
}

.header-section.right   { text-align: right; }
.header-section.left    { text-align: left; }
.header-section.right,
.header-section.left    { width: 33%; flex-shrink: 0; }

.user-display {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 75px;
    line-height: 75px;
    padding: 0 10px;
    text-decoration: none !important;
}

.user-display img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-display p {
    font-size: 0.9em;
    margin: 0;
}

.header-section .app-logo { background-size: 55% !important; }

/* Global - App logo
-------------------------------------------------- */

.app-logo {
    width: 100%;
    height: 100%;
}

/* Global - Theme selector
-------------------------------------------------- */

#theme-selector-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

#theme-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    height: 35px;
    border-radius: 75px; /* Half of the width */
    text-decoration: none;
    cursor: pointer;
}

#theme-selector-icon {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    margin-right: 7px;
    padding: 4px;
    border-radius: 50%;
}

#theme-selector-icon object {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#theme-selector-icon #dark-icon     { display: block; }
#theme-selector-icon #light-icon    { display: none; }

#theme-selector-text {
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 0.8em;
}

#theme-selector #dark-theme-text    { display: block; }
#theme-selector #light-theme-text   { display: none; }

/* Global - Inputs
-------------------------------------------------- */

/** Inputs **/
.field {
    position: relative;
    vertical-align: top;
    display: inline-block;
    max-width: 350px;
    width: calc(100% - 2em);
    margin: 1em;
    z-index: 1;
}

.field .field-input {
    box-sizing: border-box;
    -webkit-appearance: none;
    position: relative;
    float: right;
    display: block;
    width: 60%;
    padding: 0.8em;
    background: #F0F0F0;
    color: #AAAAAA;
    border: none;
    border-radius: 0;
    font-weight: normal;
}

.field input:focus { outline: none; }

.field-label {
    box-sizing: border-box;
    float: right;
    display: inline-block;
    width: 40%;
    font-size: 70.25%;
    padding: 0 1em;
    color: #6A7989;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field-label-content {
    position: relative;
    display: block;
    width: 100%;
    padding: 1.6em 0;
}

.field-graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

/** Input - Madoka **/
.field.field-madoka { margin: 1.1em; }

.field.field-madoka input {
    width: 100%;
    background: transparent;
    color: #7A7593;
}

.field.field-madoka .field-label {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    color: #7A7593;
    cursor: text;
    pointer-events: none;
}

.field.field-madoka .field-label-content {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
}

.field.field-madoka .field-graphic {
    stroke: #7A7593;
    stroke-width: 4px;
    stroke-dasharray: 962;
    stroke-dashoffset: 558;
    -webkit-transform: scale3d(1, -1, 1);
    transform: scale3d(1, -1, 1);
    -webkit-transition: stroke-dashoffset 300ms;
    transition: stroke-dashoffset 300ms;
    pointer-events: none;
}

.field.field-madoka:focus + .field-label,
.field.field-madoka .field-input:focus + .field-label,
.field.field-madoka .field-input:not(:placeholder-shown) + .field-label {
    cursor: default;
    pointer-events: none;
}

.field.field-madoka:focus + .field-label .field-graphic,
.field.field-madoka .field-input:focus + .field-label .field-graphic,
.field.field-madoka .field-input:not(:placeholder-shown) + .field-label .field-graphic {
    stroke-dashoffset: 0;
}

.field.field-madoka:focus + .field-label .field-label-content,
.field.field-madoka .field-input:focus + .field-label .field-label-content,
.field.field-madoka .field-input:not(:placeholder-shown) + .field-label .field-label-content {
    -webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
    transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
}

/* Colors */
/* White */
.dark-theme .field.white .field-input {
    background: #2B2B2B;
    color: #F7F9F9;
}

.dark-theme .field.white .field-label { color: #BDBFBF; }

.dark-theme .field.white.field-madoka input             { color: #F7F9F9; }
.dark-theme .field.white.field-madoka .field-label      { color: #BDBFBF; }
.dark-theme .field.white.field-madoka .field-graphic    { stroke: #BDBFBF; }

.light-theme .field.white .field-input {
    background: #EDEFEF;
    color: #353535;
}

.light-theme .field.white .field-label { color: #6D7070; }

.light-theme .field.white.field-madoka input            { color: #353535; }
.light-theme .field.white.field-madoka .field-label     { color: #6D7070; }
.light-theme .field.white.field-madoka .field-graphic   { stroke: #6D7070; }

/* Red */
.dark-theme .field.red .field-input {
    background: #2B2B2B;
    color: #F7F9F9;
}

.dark-theme .field.red .field-label { color: #BDBFBF; }

.dark-theme .field.red.field-madoka input           { color: #F7F9F9; }
.dark-theme .field.red.field-madoka .field-label    { color: #F95950; }
.dark-theme .field.red.field-madoka .field-graphic  { stroke: #F95950; }

.light-theme .field.red .field-input {
    background: #EDEFEF;
    color: #353535;
}

.light-theme .field.red .field-label { color: #6D7070; }

.light-theme .field.red.field-madoka input              { color: #353535; }
.light-theme .field.red.field-madoka .field-label       { color: #F95950; }
.light-theme .field.red.field-madoka .field-graphic     { stroke: #F95950; }

/** File input **/
html.no-js .file-input label { display: none !important; }

html.js .file-input input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

/** Slider **/
input[type=range]       { -webkit-appearance: none; width: 130px }
input[type=range]:focus { outline: none; }

/* Slider - Webkit (Opera, Chrome, Safari, ...) */
input[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    display: block;
    min-width: 0;
    height: 7px;
    border: none;
    border-radius: 3.5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
    margin-top: -2px;
    border: none;
    border-radius: 50%;
}

/* Slider - Firefox */
input[type=range]::-moz-range-track {
    width: 130px;
    height: 7px;
    border: none;
    border-radius: 3.5px;
}

input[type=range]::-moz-range-thumb {
    width: 11px;
    height: 11px;
    margin-top: -2px;
    border: none;
    border-radius: 50%;
}

/* Slider - IE 10+ */
input[type=range]::-ms-track {
    width: 130px;
    height: 7px;
    background: transparent;
    color: transparent;
    border-color: transparent;
    border-width: 6px 0;
}

input[type=range]::-ms-thumb {
    width: 11px;
    height: 11px;
    border: none;
    border-radius: 50%;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper { border-radius: 10px; }

/* Global - Buttons
-------------------------------------------------- */

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 0.8em;
    margin: 0;
    background: transparent;
    color: #BFC0C0;
    border: 2px solid #BFC0C0;
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: 1.5px; /* TODO: Keep? */
    transition: all 300ms;
    overflow: hidden;
    cursor: pointer;
}

.btn.long { width: 300px; }

.btn:focus { outline: none; }

.btn .btn-effect-box { pointer-events: none; }

.btn span {
    max-width: 90%;
    color: #BFC0C0;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 1px;
    z-index: 20;
    overflow: hidden;
    pointer-events: none;
}

.btn a {
    color: inherit;
    text-decoration: inherit;
}

/** Colors **/
.btn.orange                                { color: #F98350; border-color: #F98350; }
.btn.orange span                           { color: #F98350; }
.btn.orange.slide-effect .btn-effect-box   { background: #F98350; }
.btn.orange.growing-circle .btn-effect-box { background: #F98350; }
.btn.orange.showing-icon .btn-effect-box   { background: #F98350; }

.btn.yellow                                { color: #F9AD50; border-color: #F9AD50; }
.btn.yellow span                           { color: #F9AD50; }
.btn.yellow.slide-effect .btn-effect-box   { background: #F9AD50; }
.btn.yellow.growing-circle .btn-effect-box { background: #F9AD50; }
.btn.yellow.showing-icon .btn-effect-box   { background: #F9AD50; }

/** Effect **/
/* Horizontal growing rectangle */
.btn.slide-effect { position: relative; }
.btn.slide-effect span {
    position: relative;
    transition: all 350ms ease-out;
}

.btn.slide-effect .btn-effect-box {
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 100%;
    height: 100%;
    background: #BFC0C0;
    transition: all 350ms ease-out;
}
.btn.long.slide-effect .btn-effect-box { left: 350px; }

.btn.slide-effect:hover .btn-effect-box { left: 0; }

/* Background growing circle */
.btn.growing-circle { position: relative; }
.btn.growing-circle span {
    position: relative;
    transition: all 450ms ease-out;
}

.btn.growing-circle .btn-effect-box {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 0;
    height: 0;
    line-height: 40px;
    background: #BFC0C0;
    border-radius: 50%;
    opacity: 0;
    transition: all 500ms ease-out;
}
.btn.long.growing-circle .btn-effect-box { left: 150px; }

.btn.growing-circle:hover .btn-effect-box {
    top: -70px;
    left: -70px;
    width: 200%;
    height: 500%;
    opacity: 1;
}
.btn.long.growing-circle:hover .btn-effect-box { left: -150px; }

/* Showing icon */
.btn.showing-icon { position: relative; }
.btn.showing-icon span {
    position: relative;
    left: 0;
    transition: all 350ms ease-out;
}

.btn.showing-icon .btn-effect-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 100%;
    height: 100%;
    padding: 0;
    background: #BFC0C0;
    transition: all 350ms ease-out;
}
.btn.long.showing-icon .btn-effect-box { left: -350px; }

.btn.showing-icon .btn-effect-box object,
.btn.showing-icon .btn-effect-box img {
    display: inline-block;
    width: 20px;
    height: auto;
    background: none;
    border: none;
    pointer-events: none;
}

.btn.showing-icon:hover .btn-effect-box { left: 0; }
.btn.showing-icon:hover span { left: 150px; }
.btn.long.showing-icon:hover span { left: 300px; }

/* Global - Playlists
-------------------------------------------------- */

.playlist-logo {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 100%;
}

.playlist-logo:after {
    content: attr(data-acronym) '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.playlist-logo.add-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    background: url("../images/playlist_add-24px.svg") no-repeat center;
    background-size: 65%;
    text-align: center;
}

.playlist-title {
    display: inline-block;
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlist-desc {
    display: inline-block;
    width: 100%;
    line-height: 1.2em;
    font-size: 0.9em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Global - Music player
-------------------------------------------------- */   

body.has-music-player footer {
    z-index: 5000;
}

#music-player {
    display: block;
    width: 100%;
    height: 145px;
}

/** Waveform **/
#music-player-waveform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 64px;
    margin: 10px 0 0 0;
}

/** Controls **/
#music-player-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 81px;
}

#music-player-controls .section {
    width: 33%;
    height: 100%;
}

/* Buttons */
#music-player-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 510;
}

.music-player-btn {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: thin transparent solid;
    border-radius: 50%;
    cursor: pointer;
    transition: all 350ms;
}

.music-player-btn object {
    width: 100%;
    pointer-events: none;
}

.music-player-btn.smaller   { width: 15px; height: 15px }
.music-player-btn.bigger    { width: 45px; height: 45px }

#music-player-play-btn #play-icon           { display: block; }
#music-player-play-btn #pause-icon          { display: none; }
#music-player-play-btn.playing #play-icon   { display: none; }
#music-player-play-btn.playing #pause-icon  { display: block; }

#music-player-mute-btn #volume-icon         { display: block; }
#music-player-mute-btn #mute-icon           { display: none; }
#music-player-mute-btn.muted #volume-icon   { display: none; }
#music-player-mute-btn.muted #mute-icon     { display: block; }

/* Sliders */
.music-player-sliders-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.music-player-sliders-wrapper.align-left    { align-items: flex-start; }
.music-player-sliders-wrapper.align-right   { align-items: flex-end; }

.slider-icon                { margin-right: 7px; }
.slider-icon.clickable-icon { cursor: pointer; }
.slider-icon object         { pointer-events: none; }

.slider-icon #volume-icon   { display: block; }
.slider-icon #mute-icon     { display: none; }

.music-player-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 16px;
}
.music-player-slider:not(:last-child) { margin-bottom: 5px; }

.music-player-slider object { height: 100%; }

/* Global - Footer
-------------------------------------------------- */

body.has-music-player {
    height: 100%;
}

body.has-music-player footer {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    bottom: -230px;
    top: 0;
    left: 0;
}

#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.footer-links-section {
    width: 33%;
    height: 70%;
    padding: 0 30px;
}

.footer-links-section h3 {
    font-size: 1em;
    margin: 0 0 10px 0;
}

.footer-links-section ul {
    list-style: none;
    font-size: 0.8em;
    margin: 0;
    padding: 0
}

.footer-links-section li:not(:last-child)   { margin-bottom: 10px; }
.footer-links-section a                     { text-decoration: none; }

#footer-copyright {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 0.7em;
}
#footer-copyright p { margin: 0; }

/* Global - Modals
-------------------------------------------------- */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 10000;
}

.modal.open { display: block; }

.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal-wrapper h3,
.modal-wrapper p {
    margin: 0;
}

.modal-header {
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.modal-body form {
    width: 100%;
    margin-top: 10px;
}

.modal-body form .error {
    font-size: 0.8em;
    margin-left: 1.1em;
}

.modal-body form .field {
    margin-top: 0.6em;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.modal-buttons .btn:not(:last-child) {
    margin-right: 10px;
}

/* Global - Others
-------------------------------------------------- */

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Auth container
-------------------------------------------------- */

/** Containers **/
.auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1000px;
    border-radius: 30px;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/** Auth img **/
.auth-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    overflow: hidden;
}

.auth-img img {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/** Auth box **/
.auth-box {
    flex-grow: 1;
    min-width: 50%;
    padding: 70px 35px;
}

.auth-left-container.auth-box   { margin-right: 400px; }
.auth-right-container.auth-box  { margin-left: 400px; }

/* Title */
.auth-title {
    width: 100%;
    padding: 0 20px 20px 70px;
}

.auth-title h2  { margin: 0 0 7px 0; }
.auth-title p   { margin: 0; }

/* Form */
.auth-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-box form input[type=submit],
.auth-box form button[type=submit] {
    margin-top: 40px;
}

.auth-box #have-an-account,
.auth-box #need-an-account {
    font-size: 0.9em;
    margin-top: 15px;
}

/* Home
-------------------------------------------------- */

#home-container {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 50px 20px 50px;
}

.home-section:not(:last-child) { margin-bottom: 40px; }
.home-section h2 { margin: 0 0 20px 0; }

/* Home - Playlists container
-------------------------------------------------- */

#playlists-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    grid-gap: 2em;
    min-width: 0;
    min-height: 0;
    padding: 0 20px;
    overflow: hidden;
}

.playlist-block {
    display: block;
    text-align: left;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: none;
    border: none;
    overflow: hidden;
    transition: all 300ms;
    cursor: pointer;
}

#add-playlist-btn:focus { outline: none; }

.playlist-sub-block {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

#playlists-container .playlist-logo {
    width: 100%;
    padding-bottom: 100%;
}

#playlists-container .playlist-title { margin: 10px 0 2px 0; }

#playlists-container .playlist-desc { height: 2.4em; }

#playlists-see-all {
    display: block;
    width: 155px;
    margin: 30px 10px 0 auto;
}

/* Home - Last songs container
-------------------------------------------------- */

#last-songs-scroller {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0 20px 20px 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.last-song-block {
    display: block;
    width: 150px;
    margin-right: 25px;
}

.last-song-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 0;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 100%;
}

.last-song-logo:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 100%;
    background: url("../images/album-24px.svg") no-repeat center;
    background-size: 65%;
    transform: translateY(-50%);
    text-align: center;
}

.last-song-logo object {
    width: 80%;
}

.last-song-name {
    display: inline-block;
    width: 100%;
    font-size: 0.9em;
    margin: 10px 0 2px 0;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.last-song-author {
    display: inline-block;
    width: 100%;
    font-size: 0.9em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Playlist
-------------------------------------------------- */

#playlist-container {
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
}

#playlist-container #back-to-home {
    margin-bottom: 1.33em;
}

/* Playlist - Info
-------------------------------------------------- */

#playlist-container #playlist-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 40px;
}

#playlist-container #playlist-info input[type="text"],
#playlist-container #playlist-info textarea {
    padding: 5px;
    border: thin transparent solid;
}

#playlist-container #playlist-info textarea { resize: vertical; }

#playlist-container .playlist-logo {
    width: 15%;
    padding-bottom: 13%;
    margin: 0 25px 0 0;
}

#playlist-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#playlist-info-text .playlist-title {
    margin: 0 0 5px 0;
    font-size: 1.1em;
}

.playlist-duration {
    font-size: 0.9em;
    margin: 0 0 5px 0;
    padding: 0 0 0 5px;
}

#playlist-info-text .playlist-desc { height: 4em; }

#playlist-info-text .playlist-info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0 0 auto;
}

#playlist-info-text .playlist-info-buttons button:not(:last-child) { margin-right: 10px; }

/* Playlist - Songs list
-------------------------------------------------- */

#songs-table                        { width: 100%; text-align: left; border-collapse: collapse; }
#songs-table tr                     { height: 50px; }
#songs-table th, #songs-table td    { padding: 0 10px; }

.song-play-row      { width: 30px; text-align: center; }
.song-name-row      { width: 25%; }
.song-duration-row  { width: 5%; }
.song-author-row    { width: 20%; }
.song-add-date-row  { width: 15%; }
.song-actions-row   { text-align: right; }

.song-play-btn {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    transition: all 350ms;
}

.song-play-btn object {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.song-play-btn .play-icon           { display: block; }
.song-play-btn .pause-icon          { display: none; }
.song-play-btn.playing .play-icon   { display: none; }
.song-play-btn.playing .pause-icon  { display: block; }

#songs-table .field { margin: 0; }