/* Global - Header
-------------------------------------------------- */

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    background: #f6f6f6;
}

.header-section {
    display: block;
    flex-grow: 1;
    height: 75px;
    line-height: 75px;
    background: yellow; /* REMOVE */
}

.header-section.right { text-align: right; }
.header-section.left  { text-align: left; }
.header-section.right, .header-section.left { width: 33%; flex-shrink: 0; background: red; /* REMOVE */ }

/* Global - Buttons
-------------------------------------------------- */

/** TODO: Delete one of the buttons group **/
/** Button 2 **/
.btn2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 0.8em;
    margin: 0;
    background: transparent;
    color: #BFC0C0;
    border: 2px solid #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px; /* TODO: Keep? */
    transition: all 300ms;
    overflow: hidden;
    cursor: pointer;
}

.btn2 span {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px; /* TODO: Keep? */
    z-index: 20;
}

.btn2 a {
    color: inherit;
    text-decoration: inherit;
}

/** Effect **/
/* Horizontal growing rectangle */
.btn2.slide-effect { position: relative; }
.btn2.slide-effect span {
    position: relative;
    transition: all 350ms ease-out;
}

.btn2.slide-effect .btn-effect-box {
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 100%;
    height: 100%;
    background: #BFC0C0;
    transition: all 350ms ease-out;
}

.btn2.slide-effect:hover .btn-effect-box { left: 0; }
.btn2.slide-effect:hover span { color: #2D3142; } /* Background color */

/* Background growing circle */
.btn2.growing-circle { position: relative; }
.btn2.growing-circle span {
    position: relative;
    transition: all 450ms ease-out;
}

.btn2.growing-circle .btn-effect-box {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 0;
    height: 0;
    line-height: 40px;
    background: #BFC0C0;
    border-radius: 50%;
    opacity: 0;
    transition: all 500ms ease-out;
}

.btn2.growing-circle:hover .btn-effect-box {
    top: -70px;
    left: -70px;
    width: 200%;
    height: 500%;
    opacity: 1;
}
.btn2.growing-circle:hover span { color: #2D3142; } /* Background color */

/* Showing icon */
.btn2.showing-icon { position: relative; }
.btn2.showing-icon span {
    position: relative;
    left: 0;
    transition: all 350ms ease-out;
}

.btn2.showing-icon .btn-effect-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 100%;
    height: 100%;
    padding: 0;
    background: #BFC0C0;
    transition: all 350ms ease-out;
}

.btn2.showing-icon .btn-effect-box object,
.btn2.showing-icon .btn-effect-box img {
    display: inline-block;
    width: 20px;
    height: auto;
    background: none;
    border: none;
    pointer-events: none;
}

.btn2.showing-icon:hover .btn-effect-box { left: 0; }
.btn2.showing-icon:hover span { left: 150px; }

/** Button **/
.btn {
    display: block;
    position: relative;
    text-align: center;
    width: 256px;
    height: 64px;
    line-height: 64px;
    background: transparent;
    color: rgb(255, 255, 255);
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms;
}

.btn > span {
    transition: all 300ms;
    transform: scale(1, 1);
}

.btn::before, .btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 300ms;
}

/** Colors **/
.btn.red { color: rgb(200, 20, 20) !important; }
.btn.red::before { background: rgba(200, 20, 20, 0.1) !important; }
.btn.red::after { border-color: rgba(200, 20, 20, 0.5) !important; }

/** Effect **/
/* Vertical growing rectangle */
.btn.hover-vertical-rec::before {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transform: scale(1, 0.1);
}
.btn.hover-vertical-rec:hover::before { opacity: 1; transform: scale(1, 1); }

.btn.hover-vertical-rec::after {
    border: thin rgba(255, 255, 255, 0.5) solid;
    opacity: 1;
    transition: all 300ms;
}
.btn.hover-vertical-rec:hover::after { opacity: 0; transform: scale(1, 0.1); }

/* Scaling rectangle */
.btn.hover-scaling-rec:hover span { transform: scale(1.2, 1.2); }

.btn.hover-scaling-rec::before {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transform: scale(0.1, 0.1);
}
.btn.hover-scaling-rec:hover::before { opacity: 1; transform: scale(1, 1); }

.btn.hover-scaling-rec::after {
    border: thin rgba(255, 255, 255, 0.5) solid;
    transition: all 300ms;
}
.btn.hover-scaling-rec:hover::after { opacity: 0; transform: scale(0, 0); }

/* Global - Playlists
-------------------------------------------------- */

.playlist-logo {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 100%;
    background: #0f6674; /* CHANGE */
}

.playlist-logo:after {
    content: attr(data-acronym) '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
}

.playlist-title {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlist-desc {
    display: inline-block;
    width: 100%;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Home
-------------------------------------------------- */

#home-container {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 50px 20px 50px;
}

.home-section:not(:last-child) { margin-bottom: 40px; }
.home-section h2 { margin: 0 0 20px 0; }

/* Home - Playlists container
-------------------------------------------------- */

#playlists-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    grid-gap: 2em;
    min-width: 0;
    min-height: 0;
    padding: 0 20px;
    overflow: hidden;
}

.playlist-block {
    display: block;
    text-align: left;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: none;
    border: none;
    overflow: hidden;
    transition: all 300ms;
    cursor: pointer;
}

.playlist-block:hover { background: violet; }

.playlist-sub-block {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

#playlists-container .playlist-logo {
    width: 100%;
    padding-bottom: 100%;
}

#playlists-container .playlist-title { margin: 10px 0 2px 0; }

#playlists-container .playlist-desc { height: 2em; }

#playlists-see-all {
    margin: 30px 10px 0 auto;
}

/* Home - Last songs container
-------------------------------------------------- */

#last-songs-scroller {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0 20px 20px 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.last-song-block {
    display: block;
    width: 150px;
    margin-right: 25px;
}

.last-song-logo {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 100%;
    background: #0f6674;
}

.last-song-name {
    display: inline-block;
    width: 100%;
    margin: 10px 0 2px 0;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.last-song-author {
    display: inline-block;
    width: 100%;
    color: #2c2c2c;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Playlist
-------------------------------------------------- */

#playlist-container {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 50px 20px 50px;
}

#playlist-container #back-to-home {
    margin-bottom: 1.33em;
}

/* Playlist - Info
-------------------------------------------------- */

#playlist-container #playlist-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 40px;
}

#playlist-container #playlist-info input[type="text"],
#playlist-container #playlist-info textarea {
    border: thin transparent solid;
}

#playlist-container #playlist-info textarea { resize: vertical; }

#playlist-container #playlist-info input[type="text"]:hover,
#playlist-container #playlist-info textarea:hover {
    border-color: black;
}

#playlist-container .playlist-logo {
    width: 15%;
    padding-bottom: 13%;
    margin: 0 25px 0 0;
}

#playlist-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#playlist-info-text .playlist-title {
    margin: 0 0 5px 0;
    font-size: 1.1em;
}

.playlist-duration {
    margin: 0 0 5px 0;
    color: gray;
}

#playlist-info-text .playlist-desc { height: 4em; }

#playlist-info-text .playlist-info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0 0 auto;
}

#playlist-info-text .playlist-info-buttons button:not(:last-child) { margin-right: 10px; }

/* Playlist - Songs list
-------------------------------------------------- */

.song-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.song-block:hover {
    background: violet;
}

.song-block .song-row                   { flex-grow: 1; }
.song-block .song-row:not(:last-child)  { margin-right: 5%; }

.song-block .song-play {
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.song-block .song-play.no-play-button {
    background: transparent;
    cursor: default;
    pointer-events: none;
}

.song-block .song-name {
    width: 15%;
    background: #007bff;
}

.song-block .song-duration {
    width: 5%;
    background: peru;
}

.song-block .song-author {
    width: 10%;
    background: hotpink;
}

.song-block .song-add-date {
    width: 7%;
    background: papayawhip;
}