<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"/>
        <httpRuntime/>
        <pages maintainScrollPositionOnPostBack="true"/>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
        </handlers>
        <aspNetCore processPath=".\Melodie.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess"/>
        <!--<aspNetCore processPath="dotnet"
                    arguments=".\Melodie.dll"
                    stdoutLogEnabled="false"
                    stdoutLogFile="\\?\%home%\LogFiles\stdout"
                    hostingModel="InProcess">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
            </environmentVariables>
        </aspNetCore>-->
    </system.webServer>
    <appSettings>
        <!-- TODO: Doesn't work ! -->
        <add key="UserMusicPath" value="D:\MelodieStorage\Musics\"/>
        <!-- this one is for client side validation -->
        <add key="ClientValidationEnabled" value="true" />

        <!-- this is for unobtrusive ajax -->
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
</configuration>
