@page "{uid?}"
@{
	var playlists = (IEnumerable<Playlist>) ViewBag.Playlists;
}

@section Scripts {
    <script src="~/js/PlaylistsLogoFiller.js"></script>
}

<div id="home-container">
    <!-- Playlists -->
    <div id="playlists-container" class="home-section">
        <h2>Vos playlists</h2>
        
        <div id="playlists-grid">
            <form class="playlist-block" asp-controller="Playlist" asp-action="Add">
                <button id="add-playlist-btn" class="playlist-sub-block" type="submit">
                    <div class="playlist-logo"></div>
                    <p class="playlist-title">Ajouter une playlist</p>
                </button>
            </form>
            
            @foreach (var playlist in playlists)
            {
                <a class="playlist-block disable-link-color" asp-controller="Playlist" asp-action="Playlist" asp-route-pid="@playlist.PlaylistId">
                    <div class="playlist-logo"></div>
                    <p class="playlist-title">@playlist.Name</p>
                    <p class="playlist-desc">@playlist.Description</p>
                </a>
            }
        </div>
        
        <a id="playlists-see-all" class="btn red hover-vertical-rec" href="#">
            <span>Voir tout</span>
        </a>
    </div>

    <!-- Last added songs -->
    <div id="last-songs-container" class="home-section">
        <h2>Derni&egrave;res musiques ajout&eacute;es</h2>
        
        <div id="last-songs-scroller">
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
            
            <div class="last-song-block">
                <div class="last-song-logo"></div>
                <p class="last-song-name">Une music trop M&Eacute;taL !</p>
                <p class="last-song-author light-text">Captain Diabète</p>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("Footer"); }