@{
    ViewData["Title"] = "Home Page";
}

<!-- Playlists -->
<div id="playlists-container">
    <h2>Vos playlists</h2>
    
    <div id="playlists-grid">
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist avec un nom super long</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
        
        <div class="playlist-block">
            <div class="playlist-logo"></div>
            <p class="playlist-title">Une superbe playlist</p>
            <p class="playlist-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc magna, eu finibus mi ultrices nec. Phasellus imperdiet tempus condimentum. Sed tempor venenatis luctus. Mauris imperdiet ac quam eget dictum. Suspendisse nec eros nec lorem tristique scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet aliquet sapien, vitae porta dolor. Vestibulum tristique eleifend interdum. Sed efficitur quam vel dignissim tincidunt.</p>
        </div>
    </div>
    
    <a id="playlists-see-all" class="btn red hover-vertical-rec" href="#">
        <span>Voir tout</span>
    </a>
</div>

<!-- Last added songs -->
<div id="last-songs-container">
    <h2>Derni&egrave;res musiques ajout&eacute;es</h2>
</div>

<script src="~/js/playlists_logo_filler.js"></script>