@page "{pid?}"
@model Melodie.Models.Playlist
@{
	//var playlist = (Playlist) ViewBag.Playlist;
}

@section Scripts {
    <script src="~/js/playlists_logo_filler.js"></script>
}

<div id="playlist-container">
	<a asp-controller="Home" asp-action="Index">&lt;-- Retour</a>
	
	<div id="playlist-info">
		<div class="playlist-logo"></div>
		@using (Html.BeginForm("UpdatePlaylist", "Home", FormMethod.Post, new { id = "playlist-info-text" }))
		{
			@Html.HiddenFor(p => p.playlist_id)
			@Html.EditorFor(p => p.name, new { htmlAttributes = new { @class = "playlist-title", placeholder = "Nom de la playlist" } })
			<p class="playlist-duration">5 musiques</p>
			@Html.EditorFor(p => p.description, new { htmlAttributes = new { @class = "playlist-desc", placeholder = "Description" } })
			
			<button class="playlist-save-info btn red hover-vertical-rec" type="submit">
				<span>Enregistrer</span>
			</button>
		}
		<!--<form id="playlist-info-text" asp-controller="Home" asp-action="UpdatePlaylist" asp-route-playlist="@@playlist">
			<input class="playlist-title" type="text" value="@@playlist.name"/>
			<p class="playlist-duration">5 musiques</p>
			<textarea class="playlist-desc">@@playlist.description</textarea>

			<button class="playlist-save-info btn red hover-vertical-rec" type="submit">
				<span>Enregistrer</span>
			</button>
		</form>-->
	</div>

	<div id="songs-container">
		<div class="song-block">
			<div class="song-play no-play-button song-row"></div>
			<p class="song-name song-row">Nom</p>
			<p class="song-duration song-row">Durée</p>
			<p class="song-author song-row">Auteur</p>
			<p class="song-add-date song-row">Date d'ajout</p>
		</div>
		<div class="song-block">
			<div class="song-play song-row"></div>
			<p class="song-name song-row">Musique 1</p>
			<p class="song-duration song-row">3:41</p>
			<p class="song-author song-row">Captain Diabète</p>
			<p class="song-add-date song-row">12/02/2021</p>
		</div>
		<div class="song-block">
			<div class="song-play song-row"></div>
			<p class="song-name song-row">Musique 1</p>
			<p class="song-duration song-row">3:41</p>
			<p class="song-author song-row">Captain Diabète</p>
			<p class="song-add-date song-row">12/02/2021</p>
		</div>
		<div class="song-block">
			<div class="song-play song-row"></div>
			<p class="song-name song-row">Musique 1</p>
			<p class="song-duration song-row">3:41</p>
			<p class="song-author song-row">Captain Diabète</p>
			<p class="song-add-date song-row">12/02/2021</p>
		</div>
		<div class="song-block">
			<div class="song-play song-row"></div>
			<p class="song-name song-row">Musique 1</p>
			<p class="song-duration song-row">3:41</p>
			<p class="song-author song-row">Captain Diabète</p>
			<p class="song-add-date song-row">12/02/2021</p>
		</div>
	</div>
</div>