<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>@ViewBag.Title - Melodie</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="~/css/normalize.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </head>
    <body class=" @(ViewBag.BodyClasses != null ? ViewBag.BodyClasses : "")">
        <!-- Header -->
        <header>
            <!-- Empty item -->
            <div class="header-section left"></div>

            <!-- Logo -->
            <div class="header-section center">
                <img src="" alt="app logo"/>
            </div>

            <!-- User info -->
            <div class="header-section right">
                <div class="user-display">
                    <img src="" alt="user profile pic"/>
                    <a asp-area="" asp-controller="" asp-action="">Username</a>
                </div>
            </div>
        </header>

        <!-- Body -->
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <!-- Footer and player -->
        <footer>
            <div id="footer-player">
                
            </div>
            
            <div id="footer-copyright">
            <!-- TODO: Privacy page 
            <p>&copy; 2021 - Melodie - <a asp-area="" asp-controller="Home" asp action="Privacy">Privacy</a></p>-->
            <p>&copy; 2021 - Melodie - <a asp-area="" asp-controller="Home">Privacy</a></p>
            </div>
        </footer>
    
        <!-- Scripts -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/GlobalFunctions.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
