<!DOCTYPE html>
<html class="dark-theme" lang="fr">
    <head>
        <title>@ViewBag.Title - Melodie</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="~/css/normalize.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </head>
    <body class=" @(ViewBag.BodyClasses != null ? ViewBag.BodyClasses : "")">
        <!-- Header -->
        <header>
            <!-- Empty item -->
            <div class="header-section left"></div>

            <!-- Logo -->
            <div class="header-section center">
                <img src="" alt="app logo"/>
            </div>

            <!-- User info -->
            <div class="header-section right">
                <a class="user-display disable-visited" asp-controller="" asp-action="">
                    <img src="https://cdn130.picsart.com/329072184134211.png?type=webp&to=min&r=640" alt="Profile pic"/>
                    <p>Empire D&eacute;mocratique du Poulpe</p>
                </a>
            </div>
        </header>

        <!-- Body -->
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <!-- Scripts -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/GlobalFunctions.js"></script>
        <script src="~/js/FooterFixer.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
