@model Melodie.Models.Music

@using (Html.BeginForm("Add", "Music", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
	@Html.AntiForgeryToken()
	
	@Html.HiddenFor(m => m.PlaylistId)
	<td class="song-name-row">@Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Nom", @required = "required" } })</td>
	<td class="song-duration-row"></td>
	<td class="song-author-row">@Html.EditorFor(m => m.Author, new { htmlAttributes = new { placeholder = "Auteur" } })</td>
	<td class="song-add-date-row"><input type="file" name="MusicFile" required/></td>
	<td class="song-actions-row">
		<button class="btn yellow growing-circle" type="submit">
			<div class="btn-effect-box"></div>
			<span>Ajouter</span>
		</button>
	</td>
}