<div id="footer-links">
	<div class="footer-links-section">
			
	</div>
		
	<div class="footer-links-section">
		<h3>Pages</h3>
			
		<ul>
			<li><a class="disable-link-color" asp-controller="Home" asp-action="Index">Accueil</a></li>
			<li><a class="disable-link-color" asp-controller="Home">Votre profil</a></li>
			<li><a class="disable-link-color" asp-controller="Home">Support technique</a></li>
		</ul>
	</div>
		
	<div class="footer-links-section">
		<h3>Melodie</h3>
			
		<ul>
			<li><a class="disable-link-color" asp-controller="Home">&Agrave; propos</a></li>
			<li><a class="disable-link-color" asp-controller="Home">Offres d'emploi</a></li>
			<li><a class="disable-link-color" asp-controller="Home">Mentions l&eacute;gales</a></li>
			<li><a class="disable-link-color" asp-controller="Home">Politique de confidentialit&eacute;</a></li>
			<li><a class="disable-link-color" asp-controller="Home">Condition g&eacute;n&eacute;rale d'utilisation</a></li>
		</ul>
	</div>
</div>
<div id="footer-copyright">
	<p class="light-text-revert">&copy; @DateTime.Now.ToString("yyyy") - Melodie</p>
</div>