<footer>
	<div id="music-player">
		<div id="music-player-waveform"></div>
    	
		<div id="music-player-controls">
			<div class="section music-player-sliders-wrapper align-left">
				<div class="music-player-slider no-select">
                	<div class="slider-icon">
                		<object data="/images/zoom_in-24px.svg" type="image/svg+xml">
                			<img src="/images/zoom_in-24px.png" alt="Zoom"/>
                		</object>
                	</div>
                
                	<input id="music-player-zoom-slider" type="range" min="0" max="500" value="0" step="250">
                </div>
			</div>
    		
			<div id="music-player-buttons" class="section">
				<div id="music-player-previous-btn" class="music-player-btn no-select">
					<object data="/images/skip_previous-24px.svg" type="image/svg+xml">
						<img src="/images/skip_previous-24px.png" alt="Previous"/>
					</object>
				</div>
				<div id="music-player-play-btn" class="music-player-btn bigger no-select">
					<object id="play-icon" data="/images/play_arrow-24px.svg" type="image/svg+xml">
						<img src="/images/play_arrow-24px.png" alt="Play"/>
					</object>
    				
					<object id="pause-icon" data="/images/pause-24px.svg" type="image/svg+xml">
						<img src="/images/pause-24px.png" alt="Pause"/>
					</object>
				</div>
				<div id="music-player-next-btn" class="music-player-btn no-select">
					<object data="/images/skip_next-24px.svg" type="image/svg+xml">
						<img src="/images/skip_next-24px.png" alt="Next"/>
					</object>
				</div>
			</div>
			
			<div class="section music-player-sliders-wrapper align-right">
				<div class="music-player-slider no-select">
                	<div id="music-player-mute-btn" class="slider-icon clickable-icon">
	                    <object id="volume-icon" data="/images/volume_up-24px.svg" type="image/svg+xml">
		                    <img src="/images/volume_up-24px.png" alt="Volume"/>
	                    </object>
	                    
	                    <object id="mute-icon" data="/images/volume_off-24px.svg" type="image/svg+xml">
                        	<img src="/images/volume_off-24px.png" alt="Mute"/>
                        </object>
                    </div>
                
                	<input id="music-player-volume-slider" type="range" min="0" max="1" value="0.5" step="0.01">
                </div>
			</div>
		</div>
	</div>
	
	@{ await Html.RenderPartialAsync("FooterContent"); }
</footer>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.min.js"></script>
<script src="~/js/MusicPlayer.js"></script>