@model Melodie.Models.Playlist

<div id="music-player">
	<div id="music-player-waveform"></div>
	
	<div id="music-player-controls">
		<div class="section"></div>
		
		<div id="music-player-buttons" class="section">
			<div id="music-player-previous-btn" class="music-player-btn"></div>
			<div id="music-player-play-btn" class="music-player-btn bigger"></div>
			<div id="music-player-next-btn" class="music-player-btn"></div>
			<div id="music-player-mute-btn" class="music-player-btn smaller"></div>
		</div>

		<div id="music-player-sliders" class="section">
			<div class="music-player-slider">
				<img src="/images/delete-24px.png" alt="volume"/>
				<input id="music-player-volume-slider" type="range" min="0" max="1" value="0.5" step="0.01">
			</div>
			
			<div class="music-player-slider">
				<img src="/images/delete-24px.png" alt="zoom"/>
				<input id="music-player-zoom-slider" type="range" min="0" max="1000" value="0" step="250">
			</div>
		</div>
	</div>
</div>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="~/js/MusicPlayer.js"></script>